# Settings POSTGRES
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_HOST_IP=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_CONTAINER_PORT=5432
POSTGRES_DB=quotes_and_authors

# Email Django
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=email
EMAIL_PORT=1025
EMAIL_HOST_USER=example@meta.ua
EMAIL_HOST_PASSWORD=secretPassword
EMAIL_USE_SSL=False
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=admin@web.com

# MailHog Docker
MAIL_HOST_IP=127.0.0.1
MAIL_PORT_SMTP=1025
MAIL_CONTAINER_PORT_SMTP=1025
MAIL_PORT_HTTP=8025
MAIL_CONTAINER_PORT_HTTP=8025

# Django
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost